body {
    font-family: roboto, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1f2937
}

.logo {
    font-size: 24px;
    color: #f9faf8
}

.links {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    flex: 1;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.topline {
    display: flex;
    padding: 20px 30px 50px 50px;
    align-items: center;
}